<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndexServlet</display-name>
    <servlet-name>ShowIndexServlet</servlet-name>
    <servlet-class>web.servlet.client.ShowIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexServlet</servlet-name>
    <url-pattern>/ShowIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verCodeServlet</display-name>
    <servlet-name>verCodeServlet</servlet-name>
    <servlet-class>web.utils.verCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verCodeServlet</servlet-name>
    <url-pattern>/verCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>web.servlet.client.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.servlet.client.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>web.servlet.client.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByPageServlet</display-name>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <servlet-class>web.servlet.client.ShowProductByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <url-pattern>/ShowProductByPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findProductByIdServlet</display-name>
    <servlet-name>findProductByIdServlet</servlet-name>
    <servlet-class>web.servlet.client.findProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findProductByIdServlet</servlet-name>
    <url-pattern>/findProductByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>web.servlet.client.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeProductNumServlet</display-name>
    <servlet-name>ChangeProductNumServlet</servlet-name>
    <servlet-class>web.servlet.client.ChangeProductNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeProductNumServlet</servlet-name>
    <url-pattern>/ChangeProductNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>web.servlet.client.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuSearchServlet</display-name>
    <servlet-name>MenuSearchServlet</servlet-name>
    <servlet-class>web.servlet.client.MenuSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuSearchServlet</servlet-name>
    <url-pattern>/MenuSearchServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserServlet</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>web.servlet.client.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/ModifyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderByUserServlet</display-name>
    <servlet-name>FindOrderByUserServlet</servlet-name>
    <servlet-class>web.servlet.client.FindOrderByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByUserServlet</servlet-name>
    <url-pattern>/FindOrderByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderInfoServlet</display-name>
    <servlet-name>OrderInfoServlet</servlet-name>
    <servlet-class>web.servlet.client.OrderInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderInfoServlet</servlet-name>
    <url-pattern>/OrderInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServelt</display-name>
    <servlet-name>PayServelt</servlet-name>
    <servlet-class>web.servlet.client.PayServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServelt</servlet-name>
    <url-pattern>/PayServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductServlet</display-name>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>web.servlet.manager.ListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/ListProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPByManyConditionServlet</display-name>
    <servlet-name>FindPByManyConditionServlet</servlet-name>
    <servlet-class>web.servlet.manager.FindPByManyConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPByManyConditionServlet</servlet-name>
    <url-pattern>/FindPByManyConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>web.servlet.manager.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>web.servlet.manager.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServet</display-name>
    <servlet-name>DeleteProductServet</servlet-name>
    <servlet-class>web.servlet.manager.DeleteProductServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServet</servlet-name>
    <url-pattern>/DeleteProductServet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>web.servlet.manager.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FineOrdersServlet</display-name>
    <servlet-name>FineOrdersServlet</servlet-name>
    <servlet-class>web.servlet.manager.FineOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FineOrdersServlet</servlet-name>
    <url-pattern>/FineOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderByManyConditionServlet</display-name>
    <servlet-name>FindOrderByManyConditionServlet</servlet-name>
    <servlet-class>web.servlet.manager.FindOrderByManyConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByManyConditionServlet</servlet-name>
    <url-pattern>/FindOrderByManyConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderByIdServlet</display-name>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <servlet-class>web.servlet.manager.FindOrderByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <url-pattern>/FindOrderByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelOrderByIdServlet</display-name>
    <servlet-name>DelOrderByIdServlet</servlet-name>
    <servlet-class>web.servlet.manager.DelOrderByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelOrderByIdServlet</servlet-name>
    <url-pattern>/DelOrderByIdServlet</url-pattern>
  </servlet-mapping>
</web-app>